.page-container { width: 100%; max-width: 1024px; margin: auto; padding: 0 10px; box-sizing: border-box; }

.top-container {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    box-sizing: border-box;
}

.top-container button { height: 40px; }